@model IEnumerable<MVC_Login_B.Models.ClassLogin>

@{
    ViewBag.Title = "Index";
}
@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    <fieldset>
        <legend> Aplikasi</legend>
    </fieldset>
}
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>

            @Html.DisplayNameFor(model => model.Email)
           

        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
           
        </th>
        <th>
            Action

        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
    
}

</table>
